@primary-background: white;

@import 'bootstrap/less/bootstrap.less';

body {
    background-image: url('/images/background.jpg');
}

.footer {
    .content-box;
    .text-center;
}

.navbar {
    .home-icon,.music-icon,.shows-icon,.about-icon,.contact-icon,.photos-icon {
	.glyphicon;
    }
    span.home-icon { .glyphicon-home; }
    span.music-icon { .glyphicon-music; }
    span.shows-icon { .glyphicon-calendar; }
    span.about-icon { .glyphicon-user; }
    span.contact-icon { .glyphicon-envelope; }
    span.photos-icon { .glyphicon-camera; }
}

.content-box {
    padding: 15px;
    border-radius: 5px;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar {
    .make-md-column(4);
    > div {
	.content-box;
    }
    h1 {
	font-size: 24px;
	margin-top: 0px;
    }
}

.page-content {
    .make-md-column(8);
    > div {
	.content-box;
    }
    .post-meta {
	margin-left: 10px;
	font-style: italic;
    }
    img {
	.img-responsive();
    }
}

.post {
    .content-box;
    h1 {
	font-size: 24px;
    }
    .post-photo {
	.make-md-column(5);
	img {
	    .img-responsive();
	    .img-thumbnail();
	}
    }
    .post-paragraph {
	.make-md-column(7);
    }
    p {
	text-align: justify;
    }
}

.about-photo {
    .make-md-column(5);
}
.about-bio {
    .make-md-column(7);
    p {
    	text-align: justify;
    }
}

.photo-row {
    .make-row();
    padding-top: 15px;
    padding-bottom: 15px;
    > div {
	.make-md-column(4);
    }
    img {
	.img-responsive();
	.img-thumbnail;
    }
}