<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &ndash; Artios Band</title>
    {% if site.debug == 'true' %}
    <link rel="stylesheet"
    	  href="{{ site.url }}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css"
    	  href="{{ site.url }}/assets/main.less">
    <script src="{{ site.url }}/assets/bower_components/less/dist/less-1.7.0.js"></script>
    {% else %}
    <link rel="stylesheet" type="text/css"
	  href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
	  href="{{ site.url }}/assets/main.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endif %}
  </head>

  <body>

    <div class="container">

      <div class="header">
	<a href="{{ site.url }}" title="Home page">
	  <img class="logo" src="{{ site.url }}/images/artios-logo.png" />
	</a>
      </div><!-- /.header -->

      <nav class="navbar navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse"
		  data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <!-- <a class="navbar-brand" href="#">Brand</a> -->
	</div><!-- /.navbar-header -->

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
	    {% if page.url == '/index.html' %}
	    <li class="active">
	      {% else %}
	    <li>
	      {% endif %}
	      <a href="{{ site.url }}"><span class="home-icon"></span> News</a>
	    </li>
	    {% if page.url == '/music/index.html' %}
	    <li class="active">
	      {% else %}
	    <li>
	      {% endif %}
	      <a href="{{ site.url }}/music/">
		<span class="music-icon"></span>
		Music
	      </a>
	    </li>
	    {% if page.url == '/shows.html' %}
	    <li class="active">
	      {% else %}
	    <li>
	      {% endif %}
	      <a href="{{ site.url }}/shows.html">
		<span class="shows-icon"></span>
		Shows
	      </a>
	    </li>
	    {% if page.url == '/about/index.html' %}
	    <li class="active">
	      {% else %}
	    <li>
	      {% endif %}
	      <a href="{{ site.url }}/about/"><span class="about-icon"></span> About Us</a>
	    </li>
	    {% if page.url == '/contact.html' %}
	    <li class="active">
	      {% else %}
	    <li>
	      {% endif %}
	      <a href="{{ site.url }}/contact.html"><span class="contact-icon"></span> Contact</a>
	    </li>
	    {% if page.url == '/photos.html' %}
	    <li class="active">
	      {% else %}
	    <li>
	      {% endif %}
	      <a href="{{ site.url }}/photos.html"><span class="photos-icon"></span> Photos</a>
	    </li>
	  </ul>
	  <!-- Social media icons -->
	  <ul class="nav navbar-nav social-icons">
	    <li>
	      <a href="https://www.facebook.com/artiosband"
		 title="Visit the Artios Facebook page">
		<img src="{{ site.url }}/images/icon-facebook.png" />
		<span class="social-label">Facebook</span>
	      </a>
	    </li>
	    <li>
	      <a href="https://www.youtube.com/artiosmusic"
		 title="Visit the Artios Youtube channel">
		<img src="{{ site.url }}/images/icon-youtube.png" />
		<span class="social-label">Youtube</span>
	      </a>
	    </li>
	    <li>
	      <a href="https://www.twitter.com/artiosband"
		 title="Visit the Artios Twitter feed">
		<img src="{{ site.url }}/images/icon-twitter.png" />
		<span class="social-label">Twitter</span>
	      </a>
	    </li>
	  </ul>
	</div>

      </nav>

      <div class="content">
	{{ content }}
      </div>

      <div class="footer">
	&copy; Copyright {{ site.time | date: '%Y' }} Mark Wolf &ndash; All rights reserved
      </div><!-- /.footer -->

    </div><!-- /.container -->

    {% if site.debug == 'true' %}
    <script src="{{ site.url }}/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {% else %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endif %}
  </body>
</html>
