---
layout: base
---

<div class="row">
  <div class="page-content">

    {{ content }}

  </div>

  <div class="sidebar">
    <div>
      <h1>It's Alright</h1>
      <audio controls>
	<source src="{{ site.url }}/music/Artios-Its_Alright.mp3" />
      </audio>
      <a title="Direct Link to &quot;It's Alright&quot; MP3"
	 href="{{ site.url }}/music/Artios-Its_Alright.mp3">MP3</a>
    </div>

    <div>
      <h1>Upcoming Shows</h1>
      <a href="live/2016/11/22/onewell-gig.html">
	<strong>Fri 25 Nov 2016</strong> - One Well Breaking, Kalamazoo MI
      </a>
    </div>
  </div>

</div>
